#!/usr/bin/env bash

# loaded first before any other settings or paths are set.

# Make vim the default editor.
export EDITOR='nano';

# dont mess with my prompt.  I will handle it.
# see .condarc for conda.
export VIRTUAL_ENV_DISABLE_PROMPT=true

# Increase Bash history size.
export HISTSIZE=10000
export HISTFILESIZE=10000;


# Prefer UK English and use UTF-8.
export LANG='en_GB.UTF-8';
export LC_ALL='en_GB.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

# Golang working path
export GOPATH=~



case $OSTYPE in
  darwin*)
	export JAVA_HOME=$(/usr/libexec/java_home)
  *)
	export JAVA_HOME=/usr/lib/jvm/java-8-oracle
    ;;
esac